body{
    background-image: url("image/fond.png");
}

h1{
    color: white;
}

h3{
    color: white;
}

label{
    color: white;
}

img{
    width: auto;
    height: 50px;
    position: relative;
    top: -229px;
    right: -433px;
}