.bandeau_davertissement {
    background-color: beige;
}

.bandeau_davertissement p {
    text-align: center;
    margin: 0;
}

.logo {
    height: 85px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". div1 div2"
        "div3 div3 div3";

    -webkit-box-shadow: 0px 8px 10px 3px #DADADA;
    box-shadow: 0px 8px 10px 3px #DADADA;
    border-radius: 0px 0px 20px 20px;
}

.header .div1 {
    grid-area: div1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 0;
}

.header .div2 {
    grid-area: div2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header .div3 {
    grid-area: div3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-top: 2px solid #DADADA;
}

.header .titre {
    font-size: 30pt;
    font-weight: bold;
    margin-right: 1rem;
}

.header .div2>a {
    margin-right: 1rem;
    color: #E94E1B;
}

.header .div2>a:hover {
    text-decoration: underline;
}

.header .div3 a {
    padding: 1rem;
    border-radius: 15px;
    transition: 0.2s;
}

.header .div3 a:hover {
    background: #e94f1bb9;
    transition: 0.2s;
}

.header .div3 form {
    display: flex;
    align-items: center;
}

.header .div3 button:hover {
    background: #e94f1bb9;
    transition: 0.2s;
}

.header .div3 button img {
    width: 20px;
}

.header-toogle {
    display: none;
}

@media (max-width:800px) {

    .header .div3 {
        flex-direction: column;
    }

    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "div1" "div2" "div3";
    }

    .header .div2 {
        /* justify-content: end; */
        justify-content: center;
    }

    .header .div3 a {
        width: 100%;
        text-align: center;
    }

    .form_recherche {
        width: 100%;
    }

    .form_recherche input {
        width: 100%;
        margin: 1rem;
    }

    .form_recherche button img {
        margin: auto 1rem;
    }



    /*MENU DYNAMIQUE*/
    /*Fonctionnement*/

    .header-toogle {
        position: absolute;
        top: 40px;
        right: 40px;
        display: block;
    }

    .header-toogle img {
        width: 200%;
    }

    .header-toogle-close {
        display: none;
    }

    .header-menu {
        max-height: 0;
        overflow: hidden;
        display: block;
        transition: max-height 300ms ease-in-out
    }

    #main-header:target .header-toogle-close {
        display: inline;
    }

    #main-header:target .header-toogle-open {
        display: none;
    }

    #main-header:target .header-menu {
        max-height: 24rem;
        transition: max-height 300ms ease-in-out
    }

}